
.jumbotron {
  background-color: #f4511e;
  color: #fff;
  font-family: Montserrat, sans-serif;
  padding: 100px 25px;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey {
	background-color: #f6f6f6;
}

.image-blurred-edge {
    background-image: url('logo-comic.png');
	min-height: 300px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8%;
}

.bg-img {
  /* The image used */
  background-image: url("banner-bg1.png");
  background-color: #fff;
  /* Add the blur effect */
  padding: 100px 25px;
  min-height: 400px;
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}


.bg-text {
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.bg-map {
  /* The image used */
  background-image: url("map.jpg");
  background-color: rgba(0,	119, 190, 0.1);
  /* Add the blur effect */
  min-height: 700px;
  width:100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

.logo-small-red {
  color: #d92121;
  font-size: 50px;
}

.logo-small-black {
  color: #000000;
  font-size: 50px;
}

.logo-small-grey {
  font-size: 50px;
}

.logo-small-blue {
  color: blue;
  font-size: 50px;
}

.logo-small-green {
  color: #136207;
  font-size: 50px;
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo-blue {
  color: #0077be;
  font-size: 200px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

.carousel-indicators li {
  border-color: #f4511e;
}

.carousel-indicators li.active {
  background-color: #f4511e;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  opacity: 0.99;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #2d2d30 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: #303030;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}


.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
/* Style all font awesome icons */
.fa {

  padding: 2px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;

}

/* Add a hover effect if you want */
/*
.fa:hover {
	opacity: 0.8;
    cursor: default;
    transform: rotate(30deg);
    transition: all 0.9s ease-in-out 0s;
}*/
.fa:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook-square {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter-square {
  background: #55ACEE;
  color: white;
}

.fa-linkedin-square {
  background: #007bb5;
  color: white;
}

.fa-youtube-square {
  background: #bb0000;
  color: white;
}

.fa-github-square {
  background: #000000;
  color: white;
}

.fa-instagram {
  background: #DD2A7B;
  color: white;
}

.fa-pinterest-square {
  background: #cb2027;
  color: white;
}

.fa-tumblr-square {
  background: #2c4762;
  color: white;
}
.fa-envelope-square {
  background: #55ACEE;
  color: white;
}

.fa-whatsapp {
  background: #25d366;
  color: white;
}

/* Facebook */
.fa-facebook-square:hover {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter-square:hover {
  background: #55ACEE;
  color: white;
}

.fa-linkedin-square:hover {
  background: #007bb5;
  color: white;
}

.fa-youtube-square:hover {
  background: #bb0000;
  color: white;
}

.fa-github-square:hover {
  background: #000000;
  color: white;
}

.fa-instagram:hover {
  background: #DD2A7B;
  color: white;
}

.fa-pinterest-square:hover {
  background: #cb2027;
  color: white;
}

.fa-tumblr-square:hover {
  background: #2c4762;
  color: white;
}
.fa-envelope-square:hover {
  background: #55ACEE;
  color: white;
}

.fa-whatsapp:hover {
  background: #25d366;
  color: white;
}

.mobilesOnly {
	color: black;
}

.glyphicon-earphone{
	font-size: 10px;
	color: #25d366;
	height:2em;
	width:2em;
	border-radius:50%;
	border:2px solid ;
	padding:0.27em;
	text-align: center;
}